.header-figure{
    max-height: 5.1rem;
    max-width: 5.7rem;
    margin: 0;
}
.header-picture__img{
    width: 100%;
}
.header-logo{
    height: 2.5rem;
    width: 15rem;
}
.header-logo__img{
    width: 100%;
}
.main-languages{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    margin-top: 2rem;
}

.languages-featured{
    padding:0 1.6rem;
    margin-bottom: 1.6rem;
}
